*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: honeydew;
}

.App-header{
  height: 80px;
  border: 1px solid lightskyblue;
  box-shadow: 1px 1px 10px 0px grey;
}

.blue-color{
  color: #007bff;
}

.container{
  display:flex;
  max-width: 100%;
  margin: 10px 15px;
  padding: 3px 3px 3px 3px;
}

.wrapper{
  width:-webkit-fill-available;
}

.raise-button{
  box-shadow: 0px 8px 10px 0px grey;
}

.column-one{
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 350px;
}

.column-two{
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 570px;
}

.navbar-brand a {
  color: #ffffff;
}

.form-wrapper{
  border: 0.5px solid lightskyblue;
  border-radius: 5px;
  padding: 30px;
  box-shadow: 0px 8px 10px 0px grey;
}

.form-control { 
  width: 100%;
  margin: 8px 0; 
  display: inline-block; 
  border: 0.5px solid lightskyblue;
  box-shadow: 0px 8px 10px 0px grey;
}

